---
layout: base
title: Nyheter
cover: /images/xitfeni0dmy-patrik-gothe.png
---

<section class="banner">
	<div class="banner__img" style="background-image: url('{{ page.cover }}');"></div>
	<div class="banner__content content">
		<div class="banner__title title">{{ page.title }}</div>
		<p class="banner__text"></p>
	</div>
</section>


<section class="content">
	{% for post in paginator.posts %}
		<a href="{{ post.url }}" class="news-item">
			<div class="news-item__image" style="background-image:url('{{ post.image }}')"></div>
			<div>
				<div class="news-item__title">{{ post.title }}</div>
				<p class="news-item__text">{{ post.text }}</p>
				<div class="label">
					<img class="icon" src="/images/icons/calendar.svg" aria-hidden="true">
					{{ post.date | date: "%e %B %Y" }}
				</div>
			</div>
		</a>
	{% endfor %}

	<div class="pagination">
		{% assign pagination_max_count = 5 %}
		{% assign pages_start = paginator.page | minus: pagination_max_count | plus: 1 %}
		{% assign pages_end = paginator.page | plus: pagination_max_count | minus: 1 %}

		{% for page in (pages_start..pages_end) %}
			{% if page <= 0 or page > paginator.total_pages %}
				{% continue %}
			{% endif %}

			<a
				href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"
				class="pagination__item{% if page == paginator.page %} pagination__item--active{% endif %}"
			>{{page}}</a>
		{% endfor %}
	</div>
</section>
