.not-found {
	min-height: 80vh;
	padding: 96px + 18px 18px 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__text {
		width: auto;
		margin-bottom: 0;
	}
}
