.banner {
	height: 50vh;
	max-height: 400px;
	position: relative;
	overflow: hidden;
	margin: 0;
	color: #fff;
	padding-top: 96px;
	padding-bottom: 18px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #001B30;
  	clear: right;

	&__img {
		position: absolute;
		top: -2px;
		right: -2px;
		bottom: -2px;
		left: -2px;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		filter: blur(2px) brightness(.5);
	}

	&__content {
		width: 100%;
		box-sizing: border-box;
		position: relative;
	}

	&__text {
		max-width: 600px;
		font-size: 16px;
		font-weight: 300;
		line-height: 120%;
		opacity: .9;
	}
}
