@import "mixins";

.footer {
	background: #001B30;
	color: #A3ADB4;
	padding: 72px 0;

	@media (max-width: 600px) {
		padding: 0;
	}

	&__content {
		display: flex;
		height: 156px;

		@media (max-width: 600px) {
			display: block;
			height: auto;
		}
	}

	&__column {
		flex: 1;
		display: flex;
		flex-direction: column;

		&:first-child {
			align-items: flex-end;
			text-align: right;
		}

		&:nth-child(2) {
			align-items: center;
			text-align: center;
			justify-content: space-between;
		}

		&:last-child {
			align-items: flex-start;
			text-align: left;
		}

		@media (max-width: 600px) {
			margin: 48px 0;

			&.footer__column {
				text-align: center;
				align-items: center;
			}
		}
	}

	&__logo {
		margin-top: -12px;

		@media (max-width: 600px) {
			margin-top: 0;
			margin-bottom: 18px;
		}
	}

	&__title {
		color: #fff;
		@include serif();
		font-size: 22px;
		margin-bottom: 12px;
	}

	&__text {
		font-size: 15px;
		font-weight: 300;
		line-height: 1.5em;
	}

	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 56px;
		height: 56px;
		background: rgba(0, 0, 0, .15);
		border-radius: 50%;
		margin: 0 8px;

		&:focus {
			outline: none;
			background: rgba(0, 0, 0, .3);
		}
	}

	&__link {
		text-decoration: none;
		display: block;
		color: inherit;
		margin-bottom: 6px;

		&:focus {
			text-decoration: underline;
			outline: none;
		}
	}
}
