@import "mixins";

.header {
	@include serif();
	padding: 18px 0;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;
	color: #fff;

	&--dark {
		color: #001B30;
	}
}

.header__content {
	display: flex;
	justify-content: space-between;
	height: 65px;
}

.header__logo {
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .25));

	&--dark {
		filter: none;
	}
}
