@import "mixins";

.message {
	background: #f6f5f3;
	padding: 110px 18px;
	text-align: center;
	border-top: 6px solid #0091EA;
	margin-bottom: 0;
	margin-top: 0;
	@include sans();

	@media (max-width: 600px) {
		padding: 64px 18px;
	}

	&__title {
		font-size: 55px;
		position: relative;
		margin-bottom: 36px;

		&:after {
			content: "";
			background: #0091EA;
			position: absolute;
			height: 2px;
			width: 56px;
			bottom: -24px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__text {
		color: #797472;
		font-weight: 300;
		font-size: 19px;
		margin: 64px 0 48px;
		max-width: none;
	}
}
