.nav {
	display: flex;
	align-items: center;
	font-size: 18px;

	@media (max-width: 680px) {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-y: auto;
		flex-direction: column;
		justify-content: center;
		background: #001B30;
	}

	&__item {
		color: inherit;
		text-decoration: none;
		margin: 0 24px;
		position: relative;

		@media (max-width: 680px) {
			margin: 24px 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:focus:after,
		&--active:after {
			content: "";
			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;
			height: 2px;
			background: currentColor;
			opacity: .5;
		}

		&:focus {
			outline: none;

			&:after {
				bottom: -3px;
			}
		}
	}
}



// Mobile menu
.menu {
	display: none;

	&__label {
		fill: currentColor;
		align-self: center;
		position: relative;
		z-index: 1;
		display: none;
	}

	@media (max-width: 680px) {
		display: block;
		opacity: 0;
		margin: 0;
		width: 0;
		height: 0;

		&:checked {
			& ~ .menu__label {
				position: fixed;
				right: 18px;
				top: 36px;
				color: #fff;
			}

			& ~ nav {
				display: flex;
				color: #fff;
			}
		}

		&__label {
			display: block;
		}
	}
}
