@import "mixins";

.news-item {
	text-decoration: none;
	color: inherit;
	height: 268px;
	margin-bottom: 72px;
	display: flex;
	align-items: center;

	&:focus {
		outline: none;

		.news-item__title {
			background-image: linear-gradient(
				to bottom,
				rgba(0,0,0,.6) 50%,
				rgba(0,0,0,0) 50%
			);
			background-repeat: repeat-x;
			background-size: 2px .1em;
			background-position: 0 1.07em;
		}
	}

	@media (max-width: 800px) {
		display: block;
		height: auto;
		margin-bottom: 32px;
	}

	&__image {
		width: 800px;
		height: 650px;
		background-size: cover;
		background-position: center center;
		margin-right: 100px;
		flex-shrink: 0;

		@media (max-width: 800px) {
			width: 100%;
			margin-right: 0;
		}
	}

	&__title {
		font-size: 24px;
		@include serif();
		margin-bottom: 32px;
		display: inline;

		@media (max-width: 800px) {
			margin: 18px 0;
		}
	}

	&__text {
		width: 360px;
		color: #6A6563;
		display: block;

		@media (max-width: 800px) {
			width: 100%;
		}
	}
}
