---
layout: base
---

<section class="banner">
	{% if page.cover %}
		<div class="banner__img" style="background-image: url('{{ page.cover }}');"></div>
	{% else %}
		<div class="banner__img" style="background-image:url('{{ page.menu[0].cover }}')"></div>
	{% endif %}

	<div class="banner__content content">
		<h1 class="banner__title">
			{% if page.has_menu %}
				{{ page.menu[0].title }}
			{% else %}
				{{ page.title }}
			{% endif %}
		</h1>
		<p class="banner__text"></p>
	</div>
	
</section>

{% if page.has_menu %}
	<section class="content content--columns">
		<div class="content__column">
{% else %}
	<section class="content">
		<div class="text-wrapper">
{% endif %}

			{{ content }}

{% if page.has_menu %}
		</div>

		<div class="content__column">
			{% include side-menu.html %}
		</div>
	</section>
{% else %}
		</div>
	</section>
{% endif %}
