---
layout: base
header_dark: true
---

{% if page.image %}
	<div class="content cover" style="background-image:url('{{ page.image }}')"></div>
{% else %}
	<div class="content cover" style="background-image:url('{{ page.menu[0].image }}')"></div>
{% endif %}

{% if page.has_menu %}
	<section class="content content--columns">
		<div class="content__column">
{% else %}
	<section class="content">
		<div class="text-wrapper">
{% endif %}

			<h1>{{ page.title }}</h1>

			{% if page.has_menu and page.menu[0].title != page.title %}
				<h2>{{ page.menu[0].title }}</h2>
			{% elsif page.subtitle %}
				<h2>{{ page.subtitle }}</h2>
			{% endif %}

			<div class="content__spacer"></div>

			{{ content }}

{% if page.has_menu %}
		</div>

		<div class="content__column">
			{% include side-menu.html %}
		</div>
	</section>
{% else %}
		</div>
	</section>
{% endif %}
